/* laptops and big tablets - 1024px - 1200px */
@media only screen and (max-width: 1200px) {

    html,
    body {
        font-size: 9px;
    }

    header {
        padding: 4rem 5rem 5rem 5rem;
    }

    .section {
        padding: 6rem 3rem;
    }

    .hero-container-row {
        gap: 3rem;
    }

    h2 {
        font-size: 5.5rem;
    }

    .hero-buttons {
        gap: 2rem;
    }

    .form {
        margin-bottom: 15rem;
    }

    .footer-connect-service-row {
        max-width: 70rem;
    }
}

/* tablets 768px - 1023px */
@media only screen and (max-width: 1023px) {

    html,
    body {
        font-size: 8px;
    }

    header {
        padding: 4rem 5rem 5rem 5rem;
    }

    h1 {
        font-size: 5rem;
    }

    .hero-container-row {
        flex-direction: column;
        gap: 7rem;
    }

    .hero-content-col {
        max-width: 80rem;
    }

    .hero-content-col p {
        margin-bottom: 9rem;
    }

    .features-card {
        max-width: 41rem;
        height: 32rem;
    }

    .experts-main-row {
        margin-bottom: 8rem;
    }

    .experts-card {
        max-height: 45rem;
        flex: 0 0 calc(32% - 3rem);
    }

    .avatar {
        width: 11rem;
        height: 11rem;
    }

    .form {
        margin-bottom: 12rem;
    }

    .footer-connect-service-col {
        margin-left: 3rem;
    }

    h5 {
        font-size: 2.5rem;
    }

    .footer-contacts {
        gap: 2rem;
        margin-left: 3rem;
    }

    .footer-top {
        margin-bottom: 3rem;
    }
}

/* mobile - phones */
@media only screen and (max-width: 767px) {

    html,
    body {
        font-size: 7px;
    }

    header {
        padding: 4rem 5rem 3rem 5rem;
    }

    .logo-row {
        margin-right: 2rem;
    }

    .section {
        padding: 4rem 3rem;
    }

    .hero-content-col p {
        margin-bottom: 7rem;
    }

    .promo p {
        margin: 10rem auto;
    }

    .testimonial-div-col {
        padding: 2rem 2rem;
    }

    .features-left {
        text-align: left;
        margin-bottom: 12rem;
    }

    .avatar {
        width: 9rem;
        height: 9rem;
    }

    .form {
        margin-bottom: 3rem;
    }

    .footer-top {
        flex-direction: column;
        gap: 3rem;
    }

    .logo-row {
        align-self: flex-start;
    }

    .logo-row img {
        width: 7rem;
        height: auto;
    }

    .features-cards-row {
        gap: 2rem;}
}

/* adjustment for features-card-row and testimonial section */
@media only screen and (max-width: 666px) {
    .features-cards-row {
        gap: 3rem;
    }

    .features-card {
        max-width: 100%;
        align-items: center;
        height: fit-content;
        min-height: auto;
    }

    h4 {
        font-size: 2.2rem;
    }

    .testimonial-div-row {
        gap: 3rem;
    }

    .avatar {
        width: 8rem;
        height: 8rem;
    }
}

/* adjustment for contact-us form-element */
@media only screen and (max-width: 550px) {
.form-element {
        flex-direction: column;
    }}

    h5 {
        font-size: 2rem;
    }


/* adjustment for testimonial section row->col */
@media only screen and (max-width: 460px) {
    .testimonial-div-row {
        flex-direction: column;
    }
}

/* small mobile - phones*/
@media only screen and (max-width: 400px) {

    html,
    body {
        font-size: 6px;
    }

    .section {
        padding: 3rem 3rem;
    }

    .avatar {
        width: 7rem;
        height: 7rem;
    }

    h3 {
        font-size: 4rem;
    }

    h5 {
        font-size: 2rem;
    }

    .experts-card {
        max-height: 45rem;
        flex: 0 0 calc(32% - 1rem);
    }

        .footer-connect-service-col {
        margin-left: 1.5rem;
        gap: 1.5rem;
    }

    .footer-contacts {
        gap: 1.5rem;
        margin-left: 1.5rem;
    }
  
    .footer-connect-service-col {
        margin-left: 0;
        margin-right: 1.5rem;
    }

    .footer-contacts {
        margin-left: 0;
    }


}