* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #000;
    color: #fff;
}

/* --------------------------- */
/* REUSABLE */
/* --------------------------- */

.section {
    padding: 6rem 3rem;
}

.section-container-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    text-align: end;
}

.section-text {
    font-size: 2rem;
    color: #707070;
}

h1 {
    font-size: 6rem;
    font-weight: 400;
}

h2 {
    max-width: 94.8rem;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 2.3rem;
}

h3 {
    font-size: 5.2rem;
    font-weight: 400;
}

h5 {
    font-size: 3rem;
    font-weight: 400;
}

h6 {
    font-size: 2rem;
    font-weight: 600;
}

/* BUTTONS */

.btn {
    display: block;
    height: 6.6rem;
    width: 29.4rem;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 2rem;
}

.btn:hover {
    border: 3px solid #88CDFF;
}

.btn-full {
    background: linear-gradient(to right, #88CDFF, #5755F9);
}

.btn-outline {
    border: 3px solid transparent;
    background:
        linear-gradient(#000, #000) padding-box,
        linear-gradient(to right, #88CDFF, #5755F9) border-box;
}

/* --------------------------- */
/* HEADER */
/* --------------------------- */

header {
    padding: 4rem 5rem 8rem 5rem;
}

.header-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    margin-right: 2rem;
}

header img {
    max-width: 8rem;
    max-height: 10.4rem;
}

/* --------------------------- */
/* SECTION HERO */
/* --------------------------- */

.hero-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 180rem;
    margin: 0 auto;
    gap: 5rem;
}

.hero-content-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 calc(50% - 2rem);
}

.hero-content-col:first-child {
    min-width: 0;
}

.hero-content-col p {
    color: #8D8D8D;
    font-size: 3.5rem;
    margin-bottom: 8rem;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}

.hero-buttons .btn-outline {
    height: 9.4rem;
    max-width: 34rem;
    width: 100%;
}

.hero-buttons .btn-full {
    height: 9.4rem;
    max-width: 38.7rem;
    width: 100%;
}

.hero-container-row img {
    max-width: 100rem;
    width: 100%;
    max-height: 85rem;
}

/* --------------------------- */
/* SECTION PROMO */
/* --------------------------- */

.promo p {
    font-size: 3.5rem;
    text-align: center;
    margin: 15rem auto;
    padding: 0 5rem 0 5rem;
}

.promo-gradient {
    font-weight: 700;
    background: linear-gradient(to right, #ccffb3, #5755F9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

/* --------------------------- */
/* SECTION SUB-HERO */
/* --------------------------- */

/* nothing */

/* --------------------------- */
/* SECTION TESTIMONIAL */
/* --------------------------- */

.testimonial-div-row {
    max-width: 148rem;
    display: flex;
    flex-direction: row;
    border: 1px solid #88CDFF;
    border-radius: 20px;
    margin: 0 auto;
    gap: 7rem;
    justify-content: center;
}

.testimonial-div-col {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(45% - 1rem);
    justify-content: space-around;
    gap: 3rem;
    padding: 6rem 0;
}

.logo-ubrania-1,
.logo-ubrania-2 {
    max-width: 13rem;
    max-height: 2rem;
}

.logo-ubrania-1 {
    opacity: 0;
}

.testimonial-div-col p {
    font-size: 2rem;
}

.CEO-image-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.CEO-image-row img {
    max-width: 5rem;
    max-height: 5rem;
}

/* --------------------------- */
/* SECTION FEATURES */
/* --------------------------- */

.features-left {
    text-align: left;
    margin-bottom: 15rem;
}

.features-cards-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 170rem;
    margin-bottom: 7rem;
}

.features-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 3rem 3rem;
    background: #55515144;
    gap: 2.3rem;
    min-height: 30rem;
    max-width: 49rem;
    width: 100%;
}

.features-card img {
    max-width: 4.6rem;
    max-height: 5.5rem;
}

h4 {
    font-size: 3rem;
    font-weight: 400;
    max-width: 43rem;
}

.features-card p {
    font-size: 2rem;
    font-weight: 400;
    max-width: 36rem;
    color: #D9D7E6;
    line-height: 3rem;
}

.features button {
    margin: 0 auto;
}

/* --------------------------- */
/* SECTION EXPERTS */
/* --------------------------- */

.delivered-margin-bottom {
    margin-bottom: 15rem;
}

.experts-main-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 160rem;
    margin-bottom: 12rem;
}

.experts-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #55515144;
    flex: 0 0 calc(31% - 3rem);
    align-items: center;
    justify-content: center;
    gap: 4rem;
    aspect-ratio: 1/2;
    max-height: 50rem;
    height: fit-content;
}

.avatar {
    width: 13rem;
    height: 13rem;
    background: #fff;
    border-radius: 50%;
}

.experts-card p {
    font-size: 2rem;
    color: #D9D7E6;
}

/* --------------------------- */
/* SECTION CONTACT-US */
/* --------------------------- */

.text-center {
    text-align: center;
    margin-bottom: 10rem;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 148rem;
    margin: 0 auto;
    background: #16151B;
    border-radius: 20px;
    padding: 4rem;
    gap: 3rem;
    margin-bottom: 30rem;
}

.form-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.form-element input {
    flex: 1;
    padding: 1.5rem;
    padding-left: 2rem;
    border-radius: 2rem;
    background-color: #25222B;
    border-color: transparent;
}

input[type="email"] {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    -webkit-text-decoration-color: #b6b6ce68;
    text-decoration-color: #b6b6ce68;
}

.form textarea {
    padding: 1.5rem;
    padding-left: 3rem;
    border-radius: 2rem;
    background-color: #25222B;
    border-color: transparent;
    resize: vertical;
    min-height: 20rem;
    margin-bottom: 3rem;
    resize: none;
}

input,
textarea {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #B6B6CE;
}

.form button {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    flex-direction: row;
}

/* --------------------------- */
/* FOOTER */
/* --------------------------- */

footer {
    padding: 5rem 3rem;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7rem;
}

.footer-connect-service-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 70rem;
}

.footer-connect-service-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 0 2rem 4rem 2rem;
}

.footer-connect-service-col p {
    font-size: 2rem;
    color: #ffffffb3;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    color: #ffffffd0;
    font-weight: 600;
    margin: 0 2rem 0 5rem;
}

.footer-item {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
}