* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #000;
    color: #fff;
}

/* --------------------------- */
/* REUSABLE */
/* --------------------------- */

.section {
    padding: 10rem 3rem;
}

h3 {
    font-size: 5.2rem;
    font-weight: 400;
}

h4 {
    font-size: 3rem;
    font-weight: 400;
}

h5{
    font-size: 3rem;
    font-weight: 400; 
}

/* BUTTONS */

.btn {
    display: block;
    height: 6.6rem;
    width: 29.4rem;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 2rem;
}

.btn:hover {
    border: 3px solid #88CDFF;
}

.btn-full {
    background: linear-gradient(to right, #88CDFF, #5755F9);
}

.btn-outline {
    border: 3px solid transparent;
    background:
        linear-gradient(#000, #000) padding-box,
        linear-gradient(to right, #88CDFF, #5755F9) border-box;
}


/* --------------------------- */
/* HEADER */
/* --------------------------- */

header {
    padding: 4rem 5rem 0 5rem;
}

.header-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

header img {
    max-width: 8rem;
    max-height: 10.4rem;
}

header h1 {
    display: flex;
    font-size: 6rem;
    font-weight: 400;
}

/* --------------------------- */
/* HERO SECTION */
/* --------------------------- */
.hero {
    padding: 0 5rem;
}

.hero-main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content h2 {
    max-width: 94.8rem;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 2.3rem;
}

.hero-content p {
    color: #8D8D8D;
    font-size: 3.5rem;
    max-width: 81.4rem;
    margin-bottom: 12rem;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 81.4rem;
}

.hero-main-div img {
    max-width: 100rem;
    max-height: 84.9rem;
}

.hero-buttons .btn {
    height: 9.4rem;
    width: 38.7rem;
}

/* --------------------------- */
/* PROMO SECTION */
/* --------------------------- */

.promo p {
    font-size: 3.5rem;
    text-align: center;
    margin: 15rem auto;
}

.promo-gradient {
    font-weight: 700;
    background: linear-gradient(to right, #ccffb3, #5755F9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* --------------------------- */
/* SUB-HERO SECTION */
/* --------------------------- */

.sub-hero-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.text-right {
    align-items: flex-end;
    text-align: end;
}

.sub-hero-text {
    font-size: 2rem;
    color: #707070;
}

.width45 {
    max-width: 45rem;
}

/* --------------------------- */
/* TESTIMONIAL SECTION */
/* --------------------------- */

.testimonial-div-row {
    max-width: 148rem;
    display: flex;
    flex-direction: row;
    border: 1px solid #88CDFF;
    border-radius: 20px;
    margin: 0 auto;
    gap: 7rem;
    justify-content: center;
}

.testimonial-div-col p {
    font-size: 2rem;
}

.testimonial-div-col {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(45% - 1rem);
    justify-content: space-around;
    gap: 3rem;
    padding: 6rem 0;
}

.CEO-Ubrania-photo img {
    max-width: 5rem;
    max-height: 5rem;
}

.CEO-Ubrania-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.logo-ubrania-1,
.logo-ubrania-2 {
    max-width: 13rem;
    max-height: 2rem;
}

.logo-ubrania-1 {
    opacity: 0;
}

/* --------------------------- */
/* FEATURES SECTION */
/* --------------------------- */

.text-left {
    text-align: left;
    margin-bottom: 15rem;
}

.width40 {
    max-width: 55rem;
}

.features-main-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 170rem;
    margin-bottom: 7rem;
}

.features-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 3rem 3rem;
    background: #55515144;
    gap: 2.3rem;
}

.features-card img {
    max-width: 4.6rem;
    max-height: 5.5rem;
}

.features-card h4 {
    max-width: 43rem;
}

.features-card p {
    font-size: 2rem;
    font-weight: 400;
    max-width: 36rem;
}

.features button{
    margin: 0 auto;
}

/* --------------------------- */
/* EXPERTS SECTION */
/* --------------------------- */
.width60{
    max-width: 60rem;
    margin-bottom: 12rem;
}

.experts-main-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 160rem;
    margin-bottom: 12rem;
}

.experts-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 5rem 13rem 22rem 13rem;
    background: #55515144;
    flex: 0 0 calc(29% - 3rem);
    align-items: center;
    gap: 4rem;
}

.experts-card p{
    font-size: 2rem;
    color: #D9D7E6;
}

.avatar{
    width: 16rem;
    height: 16rem;
    background: #fff;
    border-radius: 50%;
}
